body{
    background-color:rgb(255, 255, 255);
}
#CompanyName{
    position: absolute;
    font-family: "Arial Black";
    line-height: 15px;
    top: 15%;
    left: 50%;
    color: #1B3454;;
    transform: translate(-50%, -50%);
    font-size: 32px;
    text-align: center;
    padding: 0px 50px 0px 50px;
    border: 1px;
    box-shadow: 0px 0px 20px lightblue;
    transition: 0.9s ease;
}

#CompanyName:hover{
    justify-content: center;
    cursor: pointer;
    top: 10%;
    transition-delay: 0.1s;
    transform: translate(-50%, -50%) scale(1.3);
}
#CompanyAddress{
    color: #1B3454;
    position: absolute;
    top: 25%;
    left: 50%;
    color: #1B3454;;
    transform: translate(-50%, -50%);
}
#CompanyNum{
    position: absolute;
    color: #1B3454;
    top: 30%;
    left: 50%;
    color: #1B3454;;
    transform: translate(-50%, -50%);
}
#CompanyLink{
    color: #1B3454;
    text-decoration: none;
}
#CompanyEmail{
    position: absolute;
    color: #1B3454;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#CompanyEm{
    color: #1B3454;
    text-decoration: none;
}

#Contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
